.iconWrapperMenu {
  margin-left: auto;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: none;
  outline: none;
  background-color: transparent;
}

.icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .iconWrapper {
    width: 50px;
    height: 50px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .iconWrapper {
    width: 60px;
    height: 60px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }
}
